<ion-view id="about-screen" view-title="About">
  <ion-content>
    <h1>GO MUSeums</h1>
    <p>Version: 0.8.2<!-- {{aversion}} --></p>
    <h4>Application developed by Ukrainian and Germany teams.</h4>
    <div class="card address-wrap text-center">
	  <div class="item item-divider">
	  </div>
	  <div class="item ">
			<img src="img/u1.jpg"/>	
	  </div>
	   <div class="item item-divider">
	  </div>
	  <div class="item ">
			<img src="img/u2.png"/>	
	  </div>
	   <div class="item item-divider">
	  </div>
	  <div class="item ">
			<img src="img/l1.png"/>	
	  </div>
	   <div class="item item-divider">
	  </div>
	   <div class="item ">			
			<a href="http://gid.areyoualive.ru/desktop/about.php" target="_blank">Full about page</a>
	  </div>	
	</div>
  </ion-content>
</ion-view>
