<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-nav-view>
	<ion-view id="quest-screen" view-title="Test">
		<ion-content ng-controller="QuestCtrl">
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
			<ion-slide>
			    <div compile class="box blue" ng-bind-html="CurrenHTML">
				
				</div>
			  </ion-slide>
			  <ion-slide>
			  	<div class="box center">
				    <div class="check-button" ng-click="showSelectValues(inputs)">
				    	CHECK!
				    </div>
				    <div ng-model="resulting">
				    	{{resulting}}
				    </div>
				</div>
			  </ion-slide>
			</ion-slide-box>
		</ion-content>
	</ion-view>
</ion-nav-view>
