<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-nav-view>
	<ion-view id="quest-screen" view-title="Test">
		<ion-content ng-controller="QuestCtrl">
			<ion-slide-box on-slide-changed="slideHasChanged($index)">
			  <ion-slide>
			    <div class="box blue"><h1>Lorem ipsum 
			    
                    <select>
                        <option selected>Default</option>
                        <option >Green</option>
                        <option>Red</option>
                    </select>
				sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h1></div>
			  </ion-slide>
			  <ion-slide>
			    <div class="box yellow"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1></div>
			  </ion-slide>
			  <ion-slide>
			    <div class="box pink"><h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h1></div>
			  </ion-slide>
			</ion-slide-box>
		</ion-content>
	</ion-view>
</ion-nav-view>
