<ion-view id="tour-screen" view-title="Tour">
  <ion-content>
    <div id="map" data-tap-disabled="true">
        <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
    </div>
    <h1>Tour #{{params.id}}</h1>
	<ion-list >
      <ion-item ng-repeat="location in locations" class="row" href="#/app/locations/id{{location.id}}">
        <div class="left col-67">
        	<h3>{{location.name}}</h3>
        	<h4>{{location.description}}</h4>
        	<h4>{{location.address}}</h4>
        </div>
        <div class="right col-33"><img ng-src="{{location.photo[0]}}" /></div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
