#about-screen {
	ion-content{
		padding: 0 5px;
		h1 {
			color: #040367;
		}
		p,h4 {
			color: #02022F;
			display: block;
			margin-top: 20px;
		}
		img {
			margin: 0 auto 0 auto;
			display: block;
			max-width: 100%;
    		max-height: 150px;
		}
	}
}