.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.box {
  display: block;
  padding: 50px 10px;
  line-height: 2;
}

.item-input {
  display: inline-block;
  padding: 2px 0 2px 10px;
  vertical-align: middle;
}

.item-select {
  width: 140px;
}

.item-select {
  .input-label {
    padding: 0 32px 0 0;
    max-width: 100%;
    width: 100%;
  }
  select {
    left: 0;
    max-width: 100%;
  }
}

.slider-pager {
  bottom: 0px;
}

.check-button {
  display: inline-block;
  margin: 0 auto;
  background-color: #485DC3;
  color: #fff;
  border: 0px solid;
  border-radius: 2px;
  text-align: center;
  padding: 2px 15px;
}

.center {
  text-align: center;
}

/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

#quest-screen {
  .item-divider {
    img {
      display: inline-block;
      max-width: 80%;
      margin: 0 5%;
      vertical-align: top;
    }
  }

  .item-radio {
    .item-content {
      img {
        max-width: 70%;
      }
    }
  }
}