#tour-screen {
	#map {
		height: 200px;

	}
	.item-content {
		padding: 16px;	
	}
	.left, .right {
		display: inline-block;
		vertical-align: middle;
	}
	.left {
		width: calc(100% - 8em);

		h3, h4 {
			max-width: 100%;
		}
	}
	.right{
		.img {
			height: 6em;
			width: 8em;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
		}
	}
}

.angular-google-map-container { 
  height: 200px; 
}
