#tour-screen {
	#map {
		height: 200px;

	}

	.left {
		width: 75%;

		h3, h4 {
			max-width: 100%;
		}
	}
	.right{
		width: 24%;

		.img {
			height: 6em;
			width: 8em;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			background-size: cover;
		}
	}
}

.angular-google-map-container { 
  height: 200px; 
}
