#home-screen {
	#locations {
		ion-item {
			width: 20%;
			display: inline-block;

			.item-content {
				width: 90%;
				padding: 0;

				.location-img {
					width: 100%;
<<<<<<< HEAD
					border-radius: 50%;
=======
>>>>>>> 2234a4fac3a2cf6ee505cca760fd8b4d159ccbe0

					img {
						width: 100%;
					}
				}

				.location-title {
					width: 100%;
				}
			}
		}
	}

	.tours-footer {
		text-align: center;
	}
	.left {
		float: left;
	}
	.right {
		float: right;

		img {
			width: 40px;
		}
	}
}