<ion-nav-bar class="bar-positive">
</ion-nav-bar>
<ion-nav-view>
	<ion-view id="inner-location-screen" view-title="">
		<ion-content ng-controller="innerLocationCtrl">
		  	<div class="big-img card" ng-click="showImage()" style='background-image: url("{{loctn.photo[0]}}")'>
			  <div class="item">
					<h1>{{loctn.name}}</h1>
			  </div>
			</div>
			<div class="card sub-title-wrap">
			  <div class="item item-divider">
					<p> {{loctn.name}}</p>	
			  </div>
			  <div class="item item-text-wrap">
				<p>{{loctn.description}}</p>
			  </div> 
			</div>

			<script id="image-modal.html" type="text/ng-template">
			  <div class="modal image-modal transparent" >
			      <ion-pane class="transparent">
					 <a class="icon ion-close hide-btn" ng-click="closeModal()"></a>
			         <img ng-src="{{imageSrc}}" class="fullscreen-image"/>
					 <div class="slider-nav-wrapp">
						<div class="slider-nav-left-side" >
							<a class="button icon-left ion-arrow-left-b button-clear"  ng-click="slideLeft()"></a>
						</div>
						<div class="slider-nav-right-side" >
							<a class="button icon-right ion-arrow-right-b button-clear" ng-click="slideRight()"></a>
						</div>
					 </div>
			      </ion-pane>
			  </div>
			</script>
		</ion-content>
	</ion-view>
</ion-nav-view>
